body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: sans-serif;
  background-color: #eee;
}

body,
.container {
  display: flex;
  flex-direction: column;
}

.center {
  align-self: center;
}

.title {
  color: #111;
  text-decoration: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

figure,
h1,
.log>a {
  align-self: center;
}

.log p {
  font-size: 1.2em;
  border-radius: 15px;
  padding: 10px;
  background-color: #22D351;
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 10px;
  margin-left: 0px;
}

.log img {
  border-radius: 15px;
  max-width: 100%;
}

.log img:hover {}

.log hr {
  width: 100%;
  margin: 30px 0;
}

.log figcaption {
  font-style: italic;
  text-align: center;
}

.log figure,
.log>a {
  width: 90%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

.nav a {
  text-decoration: none;
  padding: 5px;
  background-color: #ddd;
  color: #111;
  border-radius: 5px;
}

.nav a.prev::before {
  content: '< '
}

.nav a.next::after {
  content: ' >'
}

img.emote {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
  border-radius: 0;
}

img.emote.jumboable {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
}
